.env
.chroma
.idea
.ipynb_checkpoints
.mypy_cache
.vscode
__pycache__
.pytest_cache
htmlcov
dist
site
.coverage
coverage.xml
.netlify
*_venv/
test.db
log.txt
Pipfile.lock
env3.*
env
docs_build
venv
docs.zip
archive.zip
__init__.py

# vim temporary files
*~
.*.sw?

*/myenv
*/venv
.DS_Store


example_notebooks/*/.cache/
